.hero-section{
    /* background-image: url(../media/Upn4tXXWAQQRdGhuBFXZDa.jpg);  */

    height: 20vh;
}
body{
    background: #E3E3E3;
}
p{
    font-size: large;
    gap:  5em;
    align-items: center;
    align-content: center;
    /* line-gap-override: 5rem;
     */
     font-family: 'Poppins', sans-serif;
    margin: 10px 10px;
}
.inner_portfolio{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    gap: 20px;
}
@media only screen and (max-width: 800px){
    /* class name from above and only change flex-wrap attribute for now*/
    .inner_portfolio{
        flex-wrap: wrap;
    }
}

.images_inner_portfolio{
    gap: 20px;
    margin-left: 50px;
    margin-top: 25px;
}
.footer_interior_design{
    /* width: max-content; */
    max-width: fit-content;
    /* margin-top: 2rem; */
    background: #000;
}
.footer_content{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    gap: 448px;
}
@media only screen and (max-width: 800px){
    .footer_content{
        flex-wrap: wrap;
        align-content: center;
    }
}
